<!doctype html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <!-- Leap Day Theme -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>bananu7 social media meetspace by bananu7</title>
    <link rel="stylesheet" href="/theme/stylesheets/styles.css">
    <link rel="stylesheet" href="/theme/stylesheets/pygment_trac.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="/theme/javascripts/main.js"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- end theme -->
  </head>
  <body> 
    <header>
        <a href="/"><h1>bananu7 social media meetspace</h1></a>
        <p>{{ page.title }}</p>
    </header>
