
/*

Small-size specific media CSS

*/

/* width < 1060 px */
/********************/
@media print, screen and (max-width: 1060px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  nav {
    display: none;
  }

  header, section, footer {
    float: none;
  }
  header h1, section h1, footer h1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  #banner {
    width: 100%;
  }
  #banner .downloads {
    margin-right: 60px;
  }
  #banner #logo {
    margin-right: 15px;
  }

  section {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px auto;
    margin: 20px auto 20px;
    max-width: 600px;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}

/* width < 720 px */
/********************/
@media print, screen and (max-width: 720px) {
  body {
    word-wrap: break-word;
  }

  header {
    padding: 10px 20px 30px 20px;
  }
  header h1 {
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }
  header p {
    display: none;
  }

  #banner {
    top: 80px;
  }
  #banner .fork {
    float: left;
    display: inline-block;
    margin-left: 0px;
    position: fixed;
    left: 20px;
  }

  section {
    margin-bottom: 0px;
    width: auto;
  }

  header ul, header p.view {
    position: static;
  }
}

/* width < 480 px */
/********************/
@media print, screen and (max-width: 480px) {
  header {
    position: relative;
    padding: 5px 0px;
    min-height: 0px;
  }
  header h1 {
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
  }

  section {
    margin-top: 5px;
  }

  #banner {
    display: none;
  }

  header ul {
    display: none;
  }
}

/* print */
/********************/
@media print {
  body {
    padding: 0.4in;
    font-size: 12pt;
    color: #444;
  }
}

/* height < 680 px */
/********************/
@media print, screen and (max-height: 680px) {
  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}
/* height < 480 px */
/********************/
@media print, screen and (max-height: 480px) {
  nav {
    display: none;
  }

  footer {
    text-align: center;
    margin: 20px auto;
    position: relative;
    left: auto;
    bottom: auto;
    width: auto;
  }
}



